<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../templates/head') %>
</head>
<body>
  <header> 
    <%- include('../templates/header') %>
  </header>
  
  <div class="roverTotal">
    <p>Total Photos From Rover <%= {API CALL } %> </p>
  </div>
  
  <div class="roverSol">
    <p>Current sol <%= {API CALL} %></p>
  </div>

  <div class="roverImg">
    <img src="<%= {API CALL} %>" alt="Most up to date images from Opportunity Rover">
  </div>

</body>
</html>