<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../templates/head') %>
</head>
<body class="opportunity_body, background">
  
    <%- include('../templates/header') %>
  <h1 class="pageTitle">Opportunity Rover Photo Generator</h1>
  <div class="randomize">
    <button class="randomize_button"><a href="/rovers/opportunity">Randomize New Sol</a></button>
  </div>
  <% results.forEach(results => { %>
    <div class="roverPics">
      <div class="imgContain">
     <img class="roverPic" src="<%= results.image %>">
    </div>
     <h2 class="roverPicInfo"><strong>Rover Name:</strong> <%= results.name %></h2>
     <h2 class="roverPicInfo"><strong>Sol:</strong> <%= results.sol %></h2>
     <h2 class="roverPicInfo"><strong>Earth Date:</strong> <%= results.date %></h2>
     <h2 class="roverPicInfo"><strong>Camera Name:</strong> <%= results.camera %></h2>
    </div>
    <form action="/rovers" method="POST">
      <input type="hidden" name="image" value="<%= results.image %>"/>
      <input type="hidden" name="name" value="<%= results.name %>"/>
      <input type="hidden" name="sol" value="<%= results.sol %>"/>
      <input type="hidden" name="date" value="<%= results.date %>"/>
      <input type="hidden" name="camera" value="<%= results.camera %>"/>
      <div class="favRoverButt"><button type="submit">Add to Favorites</button></div>
    </form>
  <% }) %>

</body>
</html>