<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('templates/head') %>
</head>
<body class="background">
  <header> 
    <%- include('templates/header') %>
  </header>
  <h1 class="pageTitle">Welcome to Mars Photo Hub!</h1>
  <h1 class="imageOfDayTitle">Randomized Rover Image </h1>
  <div>
    <% results2.forEach(results => { %>
      <div>
       <img class="roverPicsHome" src="<%= results.image %>">
      </div>
      <div class="roverInfo">
       <h2 class="roverPicInfo"><strong>Rover Name:</strong> <%= results.name %></h2>
       <h2 class="roverPicInfo"><strong>Sol:</strong> <%= results.sol %></h2>
       <h2 class="roverPicInfo"><strong>Earth Date:</strong> <%= results.date %></h2>
       <h2 class="roverPicInfo"><strong>Camera Name:</strong> <%= results.camera %></h2>
      </div>
      <form action="/roversHome" method="POST">
        <input type="hidden" name="image" value="<%= results.image %>"/>
        <input type="hidden" name="name" value="<%= results.name %>"/>
        <input type="hidden" name="sol" value="<%= results.sol %>"/>
        <input type="hidden" name="date" value="<%= results.date %>"/>
        <input type="hidden" name="camera" value="<%= results.camera %>"/>
        <div class="addFavButton">
        <div class="randomize">
          <button><a class="randomizeLink" href="/">Randomize New Rover Photo</a></button>
        </div>
        <button type="submit">Add to Favorites</button>
      </div>
      </form>
    <% }) %>
  </div> 
  <div>
    <h1 class="imageOfDayTitle">NASA Image of the Day </h1> 
    <img class="imageOfTheDay" src="<%= results %>">
  </div>
</body>
</html>
