<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('templates/head') %>
</head>
<body>
  <header> 
    <%- include('templates/header') %>
  </header>
  
  <div class="weather">
    <p> Latest Weather Data at Elysium Planitia, Mars: </p>
  </div>
  <% results.forEach(results => { %>
    <div>
     <h2><%= results.sol %></h2>
     <h2><%= results.date %></h2>
     <h3><%= results.max %></h3>
     <h3><%= results.min %></h3>
     <h3><%= results.avg %></h3>
    </div>
  <% }) %>
</body>
</html>